<% carousel_sections = get_sections(@item) %>
<article id="<%=@item[:nav_id]%>">
  <% if @item[:heading] %>
    <hgroup>
  		<h1><%= @item[:heading] %></h1>
  		<h2><%= @item[:tagline] %></h2>
		</hgroup>
  <% end %>
	<nav>
		<h1 class="cchq-subnav-header"><%=@item[:title]%></h1>
		<ul class="cchq-subnav">
			<%= render '_subnav', 
				:path => "/#{@item[:nav_id]}/", 
				:nav_items =>  carousel_sections,
				:image_path => "/images/#{@item[:nav_id]}/nav/"
			 %>
		</ul>
	</nav>
	<div id="carousel">
		<ul>
			<% carousel_sections.each do |section| %>
				<li><%= render "_#{@item[:nav_id]}-section", :item => section %></li>
			<% end %>
		</ul>
	</div>
</article>

<!--[if lt IE 9]> <script type="text/javascript" src="/js/jquery.jcarousel.ie8.min.js?v=1"></script> <![endif]-->
<!--[if gt IE 8]><!--> <script type="text/javascript" src="/js/jquery.jcarousel.min.js?v=1"></script> <!--<![endif]-->
<script type="text/javascript" src="/js/carousel-control.js?v=2"></script>
<script type="text/javascript">
  $(function () {
    var carousel_controller = new CarouselControl({
      start: <%= @item[:carousel_start] %>,
      sections: [
          <% carousel_sections.each_with_index do |section, i| %>
            {
              slug: '<%=section[:slug]%>',
              url: '<%="#{get_page_url(@item)}#{section[:slug]}/"%>',
              title: '<%=section[:short_title]%> - CommCare HQ Tour',
              order: <%=i+1%>,
            },
          <% end %>
      ],
    });
    carousel_controller.init();
    
  });
</script>