<div class="article-header">
	<hgroup class="container">
		<h1><img src="/<%=@config[:static_loc]%>/images/commtrack-logo-beta.png" alt="CommTrack" /></h1>
		<p><%=@item[:title]%></p>
    <img src="/<%=@config[:static_loc]%>/images/commtrack-diagram.png" alt="How CommTrack Works" />
	</hgroup>
	<div class="container">
	  <p class="actionable">
      <a href="#contact-us" data-toggle="modal" class="btn btn-primary btn-large"><%=@item[:contact_us]%></a>
    </p>
	</div>
</div>

<div class="container">
  <div class="what-is-commtrack span5 pull-right well">
    <%= yield %>
  </div>
  <div class="why-commtrack">
    <h2><%=@item[:why_commtrack][:text]%></h2>
	  <dl>
	  <% @item[:why_commtrack][:reasons].each do |why| %>
	    <dt><i class="<%= why[:icon] %>"></i> <%= why[:title] %></dt>
	    <dd><%= why[:desc] %></dd>
	  <% end %>
	  </dl>
  </div>
</div>

<div class="modal hide fade" id="contact-us">
  <%= render '_home-contactus', :item => @item %>
</div>
