<% pricing_table = get_sections(@item, ["pricing_table"]) %>

<div class="article-header">
	<hgroup class="container">
	  <div class="row">
      <div class="span4" style="text-align: center;">
        <img src="/<%=@config[:static_loc]%>/images/services/header-services.png" alt="Our lovely field staff." />
      </div>
      <div class="span8">
    		<h1><%= @item[:heading] %></h1>
        <h2><%= html_escape(@item[:desc]) %></h2>
      </div>
	  </div>
	</hgroup>
</div>
<div class="container">
  <%= pricing_table[0].compiled_content %>
  <%= render '_table-pricing', :pricing => pricing_table[0] %>
  <%= yield %>
</div>